BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpacesInAngles:  false
SpacesInContainerLiterals: false
SpaceBeforeAssignmentOperators: true
SpaceAroundPointerQualifiers: Default
SpaceAfterCStyleCast: true
SpacesInSquareBrackets: false
SpaceBeforeCpp11BracedList: false
SpacesBeforeTrailingComments: 1
Cpp11BracedListStyle: true
AllowTrailingWhitespace: false
AlwaysBreakTemplateDeclarations: No
InsertTrailingNewline: true
ColumnLimit: 1000