#execution_options_container {
  max-height: 40px;
}

#run_button {
  height: 40px;
  max-height: 40px;
  background-color: #0077ee;
  border: none;
  border-radius: 4px;
}

#run_button:hover {
  background-color: #005bb5;
}
